---
import { Picture } from "astro:assets";
import Sectionhead from "@components/sectionhead.astro";
import meImage from "assets/avatar.jpg";
import { Icon } from "astro-icon/components";
import CVTimeline from "@components/cv.astro";
---

<>
  <a id="about" href="#about" aria-label="about me"></a>
  <div class="mt-16 md:mt-16">
    <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">About</h2>
  </div>
  <CVTimeline />
</>
