---
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "./contactform.astro";
---

<>
  <a id="samples" href="#samples" aria-label="Get free samples."></a>
  <div class="mt-16 md:mt-32">
    <Sectionhead>Get free samples.</Sectionhead>
    <p class="text-lg mt-6 mb-6 text-slate-600 text-center">
      Get your free samples of my work by filling out the form below. I will get
      back to you.
    </p>
    <Contactform />
  </div>
</>
