---
import Link from "./ui/link.astro";
---

<>
  <a id="contact" href="#contact" aria-label="Contact me"></a>
  <div
    class="bg-black p-8 md:px-20 md:mt-32 md:py-20 mt-16 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
    <h2 class="text-white text-4xl md:text-6xl tracking-tight">
      Help your audience understand and connect.
    </h2>
    <p class="text-slate-400 mt-4 text-lg md:text-xl">
      Let’s reach your audience and create those "aha" moments.
    </p>
    <div class="flex mt-5">
      <Link
        href="https://calendly.com/david-untangling-tech/intro-call-technical-writing"
        style="inverted">Book free 15 min intro call</Link
      >
    </div>
  </div>
</>
