---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Deep Technical Understanding",
    description:
      "I dive into the core of your offerings, decoding their technical details. With a PhD in applied cryptography and security, I’m used to tackling and understanding complex, cutting-edge technology.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Engaging Copywriting",
    description:
      "I take the brain-bending stuff and turn it into clear, compelling messages. Whether it’s revising your website or writing sales emails, I’ll help your product connect with the right people.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Blog Entries",
    description:
      "Looking to build a community or raise awareness about your technology? I can break down the core concepts, explain the underlying tech, or highlight practical use cases for your product.",
    icon: "bx:bxs-data",
  },
  {
    title: "Marketing Consulting",
    description:
      "Together, we can clarify a marketing strategy that puts your product in the spotlight. Step by step, we’ll figure out the best way to communicate and boost engagement while positioning your offering for success.",
    icon: "bx:bxs-bot",
  },
  {
    title: "Growth Consulting",
    description:
      "You’ve got happy customers, but user growth is hitting a plateau? Let’s brainstorm together to get that hockey curve going. We’ll use customer feedback and rapid growth-hacking experiments to find what works best.",
    icon: "bx:bxs-file-find",
  },
  {
    title: "Knowledge Base",
    description:
      "A solid knowledge base makes your technology and services easier to understand—for employees and the outside world. Whether it’s a wiki or technical docs, I’ll help you make it clear, accessible, and well-structured.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Compelling Copy. Clear Content.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Bridging the gap between your innovative products and the audience that
    needs them. Technical depth, communicated with clarity.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
