---
import { Picture } from "astro:assets";
import heroImage from "assets/hero.svg";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 mb-8 md:block">
    <Picture
      src={heroImage}
      alt="Untangling of a knot into a light bulb"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Untangling Tech. Complex Ideas. Plainly Put.
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Hi, I’m David—an engineer who genuinely enjoys writing (yes, we exist). I
      specialize in taking complex, technical concepts and turning them into
      straightforward, engaging content. No unnecessary jargon, just clear
      communication that makes your audience go: "Ah, got it!".<div class="">
      </div>
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="mailto:david.knichel@rub.de"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-rocket" />

        Hit me up!
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="#about"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        About me
      </Link>
    </div>
  </div>
</main>
