<div class="mt-16 md:mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    I’m a deeply technical engineer at heart with a passion for marketing.
  </h2>
  <p class="text-lg mt-12 text-slate-600">
    You’re thrilled about your product and its cutting-edge technology. You want
    the world to see how it can revolutionize processes, solve problems, and
    unlock new possibilities. I get it. I’m an engineer too, and I’m fascinated
    by how technology transforms the world. Clever architectures and innovative
    designs pave the way for exciting use cases, making everything more
    efficient, secure, and impactful.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    But here’s the challenge: as engineers, we tend to get so immersed in the
    technology that it leaves most people behind. Even when our audience is full
    of experts, we often skip critical points — because to us, it’s just clear.
    We’ve spent months, maybe years, living and breathing this. I’ve seen it
    happen countless times. And yet, clear communication is the key to helping
    others truly understand and appreciate what we’ve built.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    That’s where I come in. I approach your product as both a marketer and a
    deeply technical engineer. With my background in cutting-edge technology and
    research, I’ll not only understand your product on a deep level but also
    ensure the messaging is clear, engaging, and effective — helping your
    audience see its true value.
  </p>
</div>
