<div class="mt-16 md:mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    I’m a deeply technical engineer at heart who knows how to communicate what
    matters.
  </h2>
  <p class="text-lg mt-12 text-slate-600">
    You’ve built something powerful — a system, a product, a platform that
    solves important problems. You know the tech is solid. But showing others
    what makes it valuable? That’s not easy.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    As engineers, we’re deep in the details. We assume too much. We skip the
    parts that seem obvious — because to us, they are. But even technical
    audiences need clarity. They need structure, relevance, and context. Without
    it, good ideas get ignored.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    I help you bridge that gap. With a background in advanced tech and applied
    research, I understand what you’ve built. But more importantly, I know how
    to frame it so others do too. Not by oversimplifying — but by finding the
    core, and making it resonate.
  </p>
</div>
