<div class="mt-16 md:mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    I'm a deeply technical engineer. I love marketing.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    You're super hyped about your product and its cutting-edge technology, and
    you want the world to experience all the amazing benefits. I get it. I’m an
    engineer too, and I love how technology can transform the world. Clever
    architectures and designs enable innovative use cases and make processes
    more effective, safe, and secure.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    But here’s the thing: as engineers, we often dive so deep into the
    technology that 99% of people just can’t follow. Even when our audience is
    full of experts, we tend to skip important details—because in our minds,
    it’s just obvious. I mean, we’ve been working on this for months or even
    years. I’ve seen it happen over and over. And yet, communicating our
    offering clearly is absolutely essential if we want people to truly get it.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    That’s where I come in. I take the position of a marketer with a deeply
    technical understanding. Thanks to my background as an engineer in
    cutting-edge technology and research, I can fully grasp your product while
    ensuring the communication is clear, engaging, and effective.
  </p>
</div>
