<div class="mt-16 md:mt-24">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    I'm a deeply technical engineer. I like marketing.
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    You are super hyped about your product and cutting-edge technology and want
    the world to get all the amazing benefits. Look I get. I am an engineer too
    and I love how technology can literally transform the entire world. I love
    how clever architectures and designs enable innovative use cases and can
    transform processes to be more effective, safe and secure. The problem with
    us engineers is that we typically focus on deep dives into technology where
    99% of people can just not follow. And even if our audience consists of
    experts, we tend to skip imporant information. Because in our head it is
    just clear. I mean, we developed this thing for month or years. I've seen it
    over and over again. But it is so important to commuicate our offering well,
    to make people really get it.
  </p>
  <p class="text-lg mt-4 text-slate-600">
    This is where I want to help you. I am taking the position of a marketer
    with a deeply technical understanding. Due to my background as an engineer
    in cutting-edge technology and research, I am able to understand your
    product on a deep level while making the communication clear and engaging.
  </p>
</div>
